/* CSS Reset */
*{
    margin: 0;
    padding: 0;

}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
}

#logo{
    margin: 5px 30px;
}
#logo img{
    height: 60px;
    margin: 2px 6px;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color:blue;
    display:block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color:aquamarine;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
#home::before{
    content:"";
    background: url('../bg food.jfif') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 470px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .p{
    font-family: 'Bree Serif', serif;
}


#client-section{
    position: relative;

}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-items{
    padding: 34px;
}
#clients img{
    height: 124px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg food_01.jfif');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#contact{
    position: relative;
}

#contact::before{
    content:"";
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact_us.jfif') no-repeat center center/cover;

}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}


footer{
    background:red;
    color:black;
    padding: 9px 20px;   
}

.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.8rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid black;
    background-color: rgb(67, 42, 165);
    color: red;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.centre{
    text-align: center;
}

